[buildout]
extends =
    test-plone-4.1.x-dexterity-2.x.cfg
    http://good-py.appspot.com/release/dexterity/1.0-next


[sources]
plone.dexterity = git https://github.com/plone/plone.dexterity.git branch=1.x


[versions]
# collective.xmltestreport 1.2.3 is not working
collective.xmltestreport = 1.2
